@model ProyectoFinalCerveceria.Models.DocumentType

@{
    ViewBag.Title = "Details";
}

<h2>Tipo de Documento</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.DocumentTypeId }, new { @class = "btn btn-info glyphicon glyphicon-pencil" }) |
    @Html.ActionLink(" Regresar", "Index", new { area = "" }, new { @class = "btn btn-success glyphicon glyphicon-fast-backward" })
</p>
