@{
    ViewBag.Title = "Confirmación de contraseña olvidada";
}

<div class="container">
    <div style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title"><h2>@ViewBag.Title</h2></div>
            </div>
            <div style="padding-top:30px" class="panel-body">
                <div>
                    <p>
                        Compruebe el correo electrónico para restablecer la contraseña.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

