<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Quienes <span class="text-muted">Somos</span></h2>
        <p class="lead" style="text-align:justify;">Cerveceros artesanales independientes y radicados en el Ecuador, que hemos buscado a través de la unión, una mayor promoción y representatividad en el Ecuador y el mundo. Buscamos promover la cerveza artesanal ecuatoriana de calidad y un desarrollo sostenido de este nuevo sector productivo.</p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image" src="~/img/market-1.jpg">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7 col-md-push-5">
        <h2 class="featurette-heading">Misión </h2>
        <p class="lead" style="text-align:justify;">Promover la cultura cervecera artesanal en el Ecuador, brindar un producto de alta calidad, y sabor; cuidando al máximo la calidad de nuestras materias primas. Alcanzando a la vez, los niveles de rentabilidad establecidos.</p>
    </div>
    <div class="col-md-5 col-md-pull-7">
        <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image" src="~/img/market-2.jpg">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Visión </h2>
        <p class="lead" style="text-align:justify;">Posicionarnos en el mercado internacional como un país líder en producción y consumo de cerveza artesanal local, y así convertirnos en un referente para productores de distintos países.</p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image" src="~/img/market-3.jpg">
    </div>
</div>

<hr class="featurette-divider">
