<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <img class="img-circle" src="~/img/circle-1.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Somos</h2>
            <p>Cerveceros Artesanales independientes. Buscamos promover la Cerveza Artesanal Ecuatoriana de calidad y un desarrollo sostenido de este nuevo sector productivo.”</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="~/img/circle-2.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Descubre</h2>
            <p>Descubre nuevas sensaciones con la cerveza artesanal! Encuentra tus estilos favoritos, vive la revolución cervecera en Ecuador.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="~/img/circle-3.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Cerveza Artesanal</h2>
            <p>Producto de calidad con sed de expansión; recetas tradicionales e innovadoras en calidad, sabor y textura; y premiadas internacionalmente.</p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
